html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/greybgtwo.png);
    background-size: cover;
/*    max-width: 100%;*/
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Noto Sans Light';
    src: url('../fonts/NotoSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}
.horbar {
    width: 100%;
    height: 25px;
    background-color: black;
    position: relative;
    top: 0;
}

#courseheadsec {
    display: flex;
    column-gap: 15px;
    position: fixed;
    width: 100%;
    aspect-ratio: 5/1;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 500;
}



.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    height: auto;
/*    background-color: whitesmoke;*/
}

.clipped {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 2px;
    clip-path: polygon(0% 100%, 0% 20px, 100% 20px, 100% 100%);
    border-top-right-radius: 200px; /* Adjust the curve size */
    height: auto;
    background-color: black;
    color: white;
    margin-left: 7%;
    margin-top: 12%;
    width: 400px;
    max-width: 20rem;
    flex-shrink: 1;
}

.clipped h3 {
    font-family: 'Noto Sans Light';
    font-size: 3vw;
    font-weight: 400;
    flex-shrink: 1;
}



#coursename {
    background-color: transparent;
    color: black;
    margin-left: 5%;
    margin-top: 16%;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
}

#blanket {
    font-size: 30px;
    margin-right: 10px;
    flex-shrink: 1;
}

/* New container to hold both rows */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; /* Space between firstrow and secondrow */
    margin-top: calc(6vw + 120px); /* Ensure space below fixed header */
    width: 100%;
    height: auto;
/*    overflow-y: scroll;*/
    scroll-snap-type: y mandatory;
}

#firstrow{
    position: relative; /* Allow them to flow normally */
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    top: 75px;
    margin-bottom: 50px;
    flex-shrink: 1;
    scroll-snap-align: start;
}

/*#firstrow {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    top: 55%;*/
/*    padding: 12px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*    gap: 5px;*/
/*    margin-bottom: 50px;*/
/*    border: 1px solid black;*/
/*}*/


#careertext {
    display: flex;
    max-width: 45%;
    font-family: 'Noto Sans Light';
    color: black;
    text-align: justify;
    line-height: 23px;
/*    width: 500px;*/
    height: auto;
/*    border: 1px solid black;*/
    font-size: 21px;
    font-weight: 350;
    flex-shrink: 1;

}

#careers {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Light';
    color: black;
    text-align: justify;
    line-height: 21px;
    min-width: 40%;
    height: auto;
/*    border: 1px solid black;*/
    font-size: 15px;
    font-weight: 350;
    row-gap: 13px;
    flex-shrink: 1;
}

#careers h2 {
    text-align: center;
    font-size: 34px;
    font-weight: 350;
}

#secondrow{
    position: relative; /* Allow them to flow normally */
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 50px;
    flex-shrink: 1;
    scroll-snap-align: start;
}
/*#secondrow {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    top: 110%;*/
/*    padding: 10px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*    gap: 5px;*/
/*    margin-top: 80px;*/
/*    border: 2px solid black;*/
/*    text-align: justify;*/
/*    margin-top: 25px;*/
/*}*/

#curriculum {
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8));
    flex-direction: column;
    padding: 15px;
    font-family: 'Noto Sans Light';
    color: antiquewhite;
    text-align: justify;
    line-height: 21px;
    min-width: 40%;
    height: auto;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 350;

}

#book-reader {
    font-size: 45px;
    text-align: center;
}

#curriculum h2 {
    text-align: center;
}


#outcomes {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: Roboto;
    color: black;
    text-align: justify;
    line-height: 21px;
    min-width: 40%;
    height: auto;
/*    border: 1px solid black;*/
    font-size: 12px;
    font-weight: 350;
    flex-shrink: 1;

}

#bxleftdirection {
    transform: rotate(-180deg);
    font-size: 30px;
    margin-right: 15px;

}

#outcomes h2 {
    font-size: 30px;
    text-align: center;
}