<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if coursename %}
    <title>COURSE: {{ coursename }}</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/course.css') }}"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="horbar"></div>
<div id="courseheadsec">
    <div class="left">
    <div class="clipped"><i class='bx bxs-blanket' id="blanket"></i><h3>COURSE</h3></div>
    {% if coursename %}
    <div id="coursename">{{ coursename }}</div>
    {% endif %}
    </div>
    <img src="{{ url_for('static',filename='images/get_trained-final.png') }}" alt="Get trained image" style="width: 40%;
    position: relative; left: 28%; object-fit: contain; transform: scale(0.4);
    transform: rotate(14deg);">
    <img src="{{ url_for('static',filename='images/man-at-desk.jpg') }}" alt="Man at desk image" style="width: 100%;
    position: fixed; top: 0; left: 20%; aspect-ratio: 16/9; opacity:0.2; object-fit: cover;">
</div>
<div class="horbar" style="display: flex; top: 15rem; opacity:0.3; height: 2.5rem;
 justify-content: flex-end; align-items: center;">
    <h4 style="color: white; font-family: 'Noto Sans Light'; font-size: auto;
    font-weight: 400; margin-right: 5%;">COURSE DURATION: 3 MONTHS</h4>
</div>
<div id="container">
<div id="firstrow">
    {% if careertext %}
    <div id="careertext">
    <!--    <p>Python developers will remain in high demand, with software development jobs projected to grow 17% from 2023 to 2033.-->
    <!--    Its widespread use in AI, data science, cloud computing, and automation ensures its relevance across industries.-->
    <!--    By 2034, global tech jobs are expected to rise from 6 million to 7.1 million, further increasing Python's significance.-->
    <!--    Businesses will continue to rely on Python for innovation, scalability, and efficiency. Its versatility and extensive ecosystem make it a cornerstone of future technology.</p>-->
        <p>{{ careertext }}</p>
    </div>
    {% endif %}

<div id="careers">
    <h2>CAREERS</h2>
<!--<ul>-->
<!--    <li>Python Developer: Responsible for building applications.</li>-->
<!--    <li>Data Scientist: Analyzes and interprets complex data.</li>-->
<!--    <li>Machine Learning Engineer: Develops AI systems.</li>-->
<!--    <li>Data Analyst/Data Engineer: Works with data.</li>-->
<!--    <li>Full-Stack Developer: Works on both front-end and back-end.</li>-->
<!--    <li>DevOps Engineer: Manages deployment and operations.</li>-->
<!--</ul>-->
{% if careers %}
    <ul>
        {% for item in careers %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
</div><!-- end firstrow-->



<div id="secondrow">
<div id="curriculum">
<i class='bx bxs-book-reader' id="book-reader"></i>
<h2>COURSE CURRICULUM</h2>
    <!--Core Python Proficiency – Understand Python syntax,-->
    <!--data structures, and programming logic to write clean, efficient code.-->
    <!--Automation & Problem-Solving – Develop scripts to automate tasks, streamline workflows, and-->
    <!--enhance efficiency.Data Processing & Analysis – Learn how to manipulate, analyze, and-->
    <!--visualize data using Python libraries like Matplotlib and Pandas.-->
    {% if curriculum %}
    <ul>
    {% for item in curriculum %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div><!--  end curriculum  -->
    {% if outcomes %}
        <div id="outcomes"><h2><i class='bx bxs-direction-left' id="bxleftdirection"></i>Learning Outcomes</h2>
        <!--Core Python Proficiency – Understand Python syntax,-->
        <!--data structures, and programming logic to write clean, efficient code.-->
        <!--Automation & Problem-Solving – Develop scripts to automate tasks, streamline workflows, and-->
        <!--enhance efficiency.Data Processing & Analysis – Learn how to manipulate, analyze, and-->
        <!--visualize data using Python libraries like Matplotlib and Pandas.-->
        <!--Web & Application Development – Build dynamic web applications, Work with APIs, see frameworks -->
        <!-- like Flask in action-->
        <ul>
        {% for item in outcomes %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    {% endif %}
        </div><!-- end outcomes   -->
</div><!--end secondrow-->

</div><!--end container-->

<div id="reviews"></div>
<footer></footer>
</body>
</html>