<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DXY-HOME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
   <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>

<body>
    <header>
        <h1>Welcome to </h1>  <span class="dxy">DXYTECHUB</span>
        <ul id="menu">
            <li><a href="/home">Home</a></li>
            <li id="coursemenu">Training Courses <span class="arrow" id="menu-arrow">&lt;</span></li>
            <li><a href="#">Contact</a></li>
            <li class="bx bx-menu" id="boxmenu"></li>
        </ul>
        <!-- Dropdown for courses (Initially Hidden) -->
        <ul id="dropdown-courses">
            <li><a href="{{ url_for('course', coursename='frontend-development') }}" target="_blank">Frontend</a></li>
            <li><a href="{{ url_for('course', coursename='backend-development') }}" target="_blank">Backend</a></li>
            <li><a href="{{ url_for('course', coursename='python') }}" target="_blank">Python</a></li>
            <li><a href="{{ url_for('course', coursename='data-analytics') }}" target="_blank">Data Analytics</a></li>
            <li><a href="{{ url_for('course', coursename='financial-modeling') }}" target="_blank">Financial Modeling</a></li>
            <li><a href="{{ url_for('course', coursename='cybersecurity') }}" target="_blank">Cybersecurity</a></li>
            <li><a href="{{ url_for('course', coursename='uiux-development') }}" target="_blank">UI/UX Development</a></li>
            <li><a href="{{ url_for('course', coursename='nocode-development') }}" target="_blank">NoCode Development</a></li>
        </ul>

        <p class="movingcourses">DATA ANALYTICS, CYBERSECURITY, FRONTEND-DEV, BACKEND-DEV, PYTHON AND MORE... </p>
        <p class="ptyping">Your trusted place for tech courses!</p>
        <a href="#registration-form">
        <button type="button" class="regbtn">REGISTER NOW</button>
        </a>

    </header>
    <main>
        <section class="sectionA">
            <img src="{{ url_for('static',filename='/images/secretary-final.png') }}" class="ladyimg" alt="Secretary pic">
            <div class="first-set">
                <h3>Frontend Development</h3>
                <p>Kick-start your journey into the exciting world of web development? Learn to craft stunning, responsive websites. </p>
                <h5>Duration: 3 months<br>Fee: ₦250,000</h5>
                <a href="{{ url_for('course', coursename='frontend-development') }}" target="_blank"  style="color: #0099ff; position: relative;
                 left: 8px; text-decoration: none; text-align: right;
                font-family: Noto Sans Balinese; font-size: 0.7rem;">Read More...</a>
            </div>
            <div class="first-set">
                <h3>Backend Development</h3>
                <p>Build secure, scalable applications with hands-on training. Industry-ready skills for high-paying opportunities</p>
                <h5>Duration: 3 months<br>Fee: ₦300,000</h5>
                <a href="{{ url_for('course', coursename='backend-development') }}" target="_blank" style="color: #0099ff; position: relative;
                left: 8px; text-decoration: none; text-align: right;
                font-family: Noto Sans Balinese; font-size: 0.7rem;">Read More...</a>
            </div>
            <div class="first-set">
                <h3>Data Analytics</h3>
                <p>Transform data into actionable insights. Solve real-world problems with hands-on projects.</p>
                <h5>Duration: 3 months<br>Fee: ₦400,000</h5>
                 <a href="{{ url_for('course', coursename='data-analytics') }}" target="_blank"  style="color: #0099ff; text-decoration: none; text-align: right;
                font-family: Noto Sans Balinese; font-size: 0.7rem;">Read More...</a>
            </div>
            <div class="first-set">
                <h3>Cybersecurity</h3>
                <p>Become a digital security expert. Learn to protect data, networks, systems and applications from hackers and breaches.</p>
                <h5>Duration: 3 months<br>Fee: ₦400,000</h5>
                 <a href="{{ url_for('course', coursename='cybersecurity') }}" target="_blank"  style="color: #0099ff; text-decoration: none; text-align: right;
                font-family: Noto Sans Balinese; font-size: 0.7rem;">Read More...</a>
            </div>

            <!-- New set of courses hidden initially -->
    <div class="hidden-courses" style="display: none;">
        <div class="coursebox">
            <h3>Python</h3>
            <p>Learn Python from scratch and develop powerful scripts for data analysis, automation, and more.</p>
            <h5>Duration: 3 months<br>Fee: ₦350,000</h5>
            <a href="{{ url_for('course', coursename='python') }}" target="_blank" style="color: #0099ff; text-decoration: none; text-align: right; font-family: Noto Sans Balinese; font-size: 0.7rem;">Read More...</a>
        </div>
        <div class="coursebox">
            <h3>UI/UX Development</h3>
            <p>Design beautiful and functional user interfaces and experiences.</p>
            <h5>Duration: 3 months<br>Fee: ₦300,000</h5>
            <a href="{{ url_for('course', coursename='uiux-development') }}" target="_blank" style="color: #0099ff; text-decoration: none; text-align: right; font-family: Noto Sans Balinese; font-size: 0.7rem;">Read More...</a>
        </div>
        <div class="coursebox">
            <h3>Nocode App Development</h3>
            <p>Create powerful applications without writing code. Ideal for entrepreneurs.</p>
            <h5>Duration: 3 months<br>Fee: ₦200,000</h5>
            <a href="{{ url_for('course', coursename='nocode-development') }}" target="_blank" style="color: #0099ff; text-decoration: none; text-align: right; font-family: Noto Sans Balinese; font-size: 0.7rem;">Read More...</a>
        </div>
        <div class="coursebox">
            <h3>Linux Foundations</h3>
            <p>Get foundational knowledge of Linux systems and commands for developers.</p>
            <h5>Duration: 3 months<br>Fee: ₦250,000</h5>
            <a href="{{ url_for('course', coursename='linux-foundations') }}" target="_blank" style="color: #0099ff; text-decoration: none; text-align: right; font-family: Noto Sans Balinese; font-size: 0.7rem;">Read More...</a>
        </div>
    </div>

            <div class="bx bxs-right-arrow" id="bxs-arrow"></div>
        </section>
         <section class="sectionB" style="background-color: #00CCFF;">
             <img src="{{ url_for('static',filename='/images/whyus_final2.png') }}" alt="Course Illustration" class="whyus" width="600" height="600">
             <span>Industry-Relevant Content | Expert Trainers | Certification &#38; Recognition | Interactive &#38; Engaging </span>
        </section>

        <section class="course-list" style="background-color: #000;">
            <h2 style="color: #fff;">Our Courses</h2>
            <div class="course">
                <h3> <span class="material-symbols-outlined" style="margin-right: 10px;">globe_book </span> Front and Backend Development</h3>
                <p>Learn how to build modern web applications from scratch.</p>
            </div>
            <div class="course">
                <h3> <span class="material-symbols-outlined" style="margin-right: 10px;">passkey</span> Cybersecurity</h3>
                <p>Protect your systems and learn about ethical hacking.</p>
            </div>
            <div class="course">
                <h3><span class="material-symbols-outlined" style="margin-right: 10px;">analytics</span> Data Analytics</h3>
                <p>Transform data into actionable insights with our analytics course.</p>
            </div>
            <div class="course">
                <h3><span class="material-symbols-outlined" style="margin-right: 10px;">database</span>And More!</h3>
                <p>Explore other exciting courses we offer!</p>
            </div>
        </section>

        <section class="registration">
            <h2>Register for a Course</h2>
            <form id="registration-form" method="POST" action="/submit" enctype="multipart/form-data">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="course">Select Course:</label>
                <select id="course" name="course" required>
                    <option value="">--Please choose an option--</option>
                    <option value="Frontend-Dev HTML/CSS">Frontend Development</option>
                    <option value="Backend-Dev Python/Flask">Backend Development (Python/Flask)</option>
                    <option value="Cybersecurity">Cybersecurity</option>
                    <option value="Data Analytics">Data Analytics</option>
                    <option value="Backend Node/Express.js">Backend Development (Node/Express.js)</option>
                    <option value="Linux Foundations">Linux Foundations</option>
                    <option value="Financial Modeling">Financial Modeling</option>
                    <option value="Python">Python</option>
                    <option value="Python/JavaScript">Python/JavaScript</option>
                    <option value="NoCode Development">Nocode Development</option>
                    <option value="UI/UX Dev">UI/UX Development</option>
                </select>

                <button type="submit">Register</button>
            </form>

        </section>
        <a href="https://wa.me/2348076677707?text=Hello%20I%20am%20interested%20in%20your%20services" class="whatsapp-button" target="_blank">
   <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" width="50">
</a>
    </main>
    <footer>
        <p>&copy; 2025 dxytechub. All rights reserved.</p>
    </footer>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
    let menuButton = document.getElementById("coursemenu");
    let dropdown = document.getElementById("dropdown-courses");
    let arrow = document.getElementById("menu-arrow"); // Ensure this ID is in your HTML
    dropdown.style.display = 'none';


    menuButton.addEventListener("click", function () {
        // Toggle visibility of the dropdown
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
            arrow.style.transform = "rotate(-180deg)"; // Rotate back to ^
        } else {
            dropdown.style.display = "block";
            arrow.style.transform = "rotate(-90deg)"; // Rotate down (v)
        }
    });
 });

// Optional: Close the dropdown when clicking outside of it
    document.addEventListener("click", function (event) {
        if (!menuButton.contains(event.target) && !dropdown.contains(event.target)) {
            dropdown.style.display = "none";
            arrow.style.transform = "rotate(-90deg)"; // Reset arrow
        }
    });


//    document.getElementById("coursemenu").addEventListener("click", function () {
//    let dropdown = document.getElementById("dropdown-courses");
//
//    // Toggle the dropdown menu
//    dropdown.style.display = (dropdown.style.display === "block") ? "none" : "block";
//    });

    document.getElementById('bxs-arrow').addEventListener('click', function() {
        const hiddenCourses = document.querySelector('.hidden-courses');
        const firstSetCourses = document.querySelectorAll('.first-set');

        if (hiddenCourses.style.display === 'none') {
            // Hide the first set of courses
            firstSetCourses.forEach(course => {
                course.style.display = 'none';
            });
            // Show the hidden courses
            hiddenCourses.style.display = 'flex';
            hiddenCourses.style.justifyContent = 'space-evenly';
            hiddenCourses.style.alignItems = 'center';
            hiddenCourses.style.flexWrap = 'wrap';

            // Adding space between the course boxes
        const courseBoxes = hiddenCourses.querySelectorAll('.coursebox');
        courseBoxes.forEach(course => {
            course.style.margin = '10px'; // Adjust as needed
        });

            this.style.transform = 'rotate(90deg)';  // Optional: Rotate the arrow when clicked
        } else {
             // Show the first set of courses

             firstSetCourses.forEach(course => {
            course.style.display = 'flex';
            course.style.flexDirection = 'column';
            course.style.alignItems = 'center';
        });
            // Hide the hidden courses
            hiddenCourses.style.display = 'none';
            this.style.transform = 'rotate(0deg)'; // Reset rotation when hidden
        }
    });
    </script>
</body>
</html>
